{% extends "bases/base.html" %}

{% block titulo %} Estado resultado {%endblock %}

{% block js %}

<script>
    var utilidad = document.getElementById("utilidad")
    var estado = document.getElementById('estado').textContent

    if (estado.includes('Ganancia')) {
        utilidad.className += " table-success";
    } else {
        utilidad.className += " table-danger";
    }
</script>

{%endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Estado de resultados </h4>
            <table class="table table-hover " id="balanceAjustado">
                <thead class="thead-light">
                <tr>
                    <th>N° de sub-cuenta</th>
                    <th>Nombre de sub-cuenta</th>
                    <th> Debe</th>
                    <th> Haber</th>
                </tr>
                </thead>

                <tbody>
                {% for subCuentaResultado in subCuentasResultado %}
                <tr>
                    <td> {{subCuentaResultado.id_subCuenta}}</td>
                    <td> {{subCuentaResultado.nombre_subCuenta}}</td>
                    <td> ${{subCuentaResultado.debe|floatformat:2}}</td>
                    <td> ${{subCuentaResultado.haber|floatformat:2}}</td>
                </tr>
                {% endfor %}
                </tbody>

                <tr id="utilidad" class="">
                    <td id="estado"> Utilidad del ejercicio ({{estado}}): ${{utilidad|floatformat:2}}</td>
                    <td></td>
                    <td id="debe_total"> ${{suma_debe|floatformat:2}}</td>
                    <td id="haber_total"> ${{suma_haber|floatformat:2}}</td>
                </tr>
            </table>
            <a name="" class="btn btn-primary" href="{% url 'hojaTrabajo' %}" role="button">Regresar</a>
            <input name="" class="btn btn-success" type="button" value="Imprimir" onclick="javascript:window.print()"/>
        </div>
    </div>
</div>

{%endblock %}