{% extends "bases/base.html" %}

{% block titulo %} Estado capital {%endblock %}

{% block js %}

<script>
    var capital = document.getElementById("capital")
    var estado = document.getElementById('estado').textContent

    if (estado.includes('+')) {
        capital.className += " table-success";
    } else {
        capital.className += " table-danger";
    }
</script>

{%endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Estado de capital </h4>
            <table class="table table-hover " id="balanceAjustado">
                <thead class="thead-light">
                <tr>
                    <th>N° de sub-cuenta</th>
                    <th>Nombre de sub-cuenta</th>
                    <th> Debe</th>
                    <th> Haber</th>
                </tr>
                </thead>

                <tbody>
                {% for subCuentaCapital in subCuentasCapital %}
                <tr>
                    <td> {{subCuentaCapital.id_subCuenta}}</td>
                    <td> {{subCuentaCapital.nombre_subCuenta}}</td>
                    <td> ${{subCuentaCapital.debe|floatformat:2}}</td>
                    <td> ${{subCuentaCapital.haber|floatformat:2}}</td>
                </tr>
                {% endfor %}
                </tbody>

                <tr id="capital" class="">
                    <td id="estado"> Capital ({{estado}}): ${{capital|floatformat:2}}</td>
                    <td></td>
                    <td id="debe_total_capital"> ${{suma_debe_capital|floatformat:2}}</td>
                    <td id="haber_total_capital"> ${{suma_haber_capital|floatformat:2}}</td>
                </tr>
            </table>
            <a name="" class="btn btn-primary" href="{% url 'hojaTrabajo' %}" role="button">Regresar</a>
            <input name="" class="btn btn-success" type="button" value="Imprimir" onclick="javascript:window.print()"/>
        </div>
    </div>
</div>

{%endblock %}