{% extends "bases/base.html" %}

{% block titulo %} Inicio {%endblock %}

{% block contenido %}


<div class="container">
    <div class="jumbotron">
        <center><h1 class="display-6"> Contabilidad de costos </h1></center>
        <hr class="my-2">
        <br>

        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 ">
                <div class="card text-white bg-dark text-center" style="max-width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Orden de Produccion</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Es un sistema que acumula los costos de la producción de acuerdo a los trabajos de los
                            clientes.
                        </p>
                        <br>
                        <p class="lead">
                            <a class="btn btn-light btn-lg" href="{% url 'OrdenProduccion' %}" role="button">Empezar</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card text-dark bg-white text-center" style="max-width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Contabilidad de costos</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Tiene como propósito controlar e informar de los costos para el uso interno de los
                            directivos
                        </p>
                        <br>
                        <p class="lead">
                            <a class="btn btn-dark btn-lg" href="{% url 'verOrdenes' %}" role="button">Empezar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}