{% extends "bases/base.html" %}

{% block titulo %} Listado de Mano de Obra {%endblock %}

{% block js %}

{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">



        </div>
        <div class="card-body">
            <h4 class="card-title">Mano de Obra</h4>
        <div class="col-sm">
            <table class="table table-sm table-hover " >
                <thead class="thead-light">
                    <tr>
                        <th>N° de Orden </th>
                        <th>Fecha</th>
                        <th> Número de Horas </th>
                        <th> Salario Por Hora </th>
                        <th>Costo</th>



                    </tr>

                </thead>

                <tbody>
                    {% for ManodeObra in obras %}
                        <tr>
                            <td> {{ManodeObra.id_OrdendeProduccion.id_OrdendeProduccion}}</td>
                            <td> {{ManodeObra.fecha_manodeObra}}</td>
                            <td> {{ManodeObra.horas_manodeObra}}</td>
                            <td> ${{ManodeObra.salario_manodeObra|floatformat:2}}</td>
                            <td> ${{ManodeObra.costo|floatformat:2}}</td>

                        </tr>
                    {% endfor %}


                </tbody>
            </table>

        </div>
            <a class="btn btn-primary" href="{% url 'verOrdenes' %}"  role="button">Regresar</a>
        </div>
    </div>
</div>
{%endblock %}