{% extends "bases/base.html" %}

{% block titulo %} Listado de Mano de Obra {%endblock %}

{% block js %}

{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">Prorrateo</h4>
        <div class="col-sm">
            <table class="table table-sm table-hover " >
                <thead class="thead-light">
                    <tr>
                        <th>N° de Orden </th>
                        <th>Mano de Obra Indirecta</th>
                        <th> Seguros </th>
                        <th>Depreciacion</th>
                        <th>Energia</th>
                        <th>Amortizacion</th>
                        <th>Otros gastos</th>
                        <th>Total CIF </th>
                        <th>Base HMOD</th>
                        <th>Tasa Predeterminada CIF</th>




                    </tr>

                </thead>

                <tbody>
                    {% for Prorrateo in prorrateos %}
                        <tr>
                            <td> {{Prorrateo.id_OrdendeProduccion.id_OrdendeProduccion}}</td>
                            <td> ${{Prorrateo.manodeObraIndirecta|floatformat:2}}</td>
                            <td> ${{Prorrateo.segurosEquipo|floatformat:2}}</td>
                            <td> ${{Prorrateo.depreciacion|floatformat:2}}</td>
                            <td> ${{Prorrateo.energia|floatformat:2}}</td>
                            <td> ${{Prorrateo.amortizacion|floatformat:2}}</td>
                            <td> ${{Prorrateo.otrosGastos|floatformat:2}}</td>
                            <td> ${{Prorrateo.totalCIF|floatformat:2}}</td>
                            <td> {{Prorrateo.aplicacionHMOD|floatformat:2}}</td>
                            <td> {{Prorrateo.tasapredeterminadaCIF|floatformat:2}}</td>


                        </tr>
                    {% endfor %}


                </tbody>
            </table>

        </div>
            <a class="btn btn-primary" href="{% url 'verOrdenes' %}" onclick="" role="button">Regresar</a>
        </div>
    </div>
</div>
{%endblock %}