{% extends "bases/base.html" %}

{% block titulo %} Inicio {%endblock %}

{% block contenido %}


<div class="text-center">
    <h1 class="display-4">Bienvenido Usuario "{{user.username}}"</h1>
    <hr class="my-2">
    <br>

    <div class="row align-items-center justify-content-center">
        <div class="col-sm">
            <div class="card text-dark bg-light text-center" style="max-width: 18rem;">
                <div class="card-header text-white bg-dark" style="background-color: #087287!important;">
                    <h5 class="card-title">Catalogo de cuentas</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Listado ordenado de las cuentas contables en
                        las que se registran las operaciones
                    </p>
                    <br>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'catalogo' %}" style="background-color: #43595e!important;" role="button">Empezar</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card text-dark bg-light  text-center" style="max-width: 18rem;">
                <div class="card-header text-white bg-dark" style="background-color: #087287!important;">
                    <h5 class="card-title">Libros contables</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Este apartado nos permite registrar los movimientos en la empresa
                    </p>
                    <br>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'libros' %}" style="background-color: #43595e!important;" role="button">Empezar</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card text-dark bg-light text-center" style="max-width: 18rem;">
                <div class="card-header text-white bg-dark" style="background-color: #087287!important;">
                    <h5 class="card-title">Hoja de trabajo</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Herramienta que facilita al usuario la elaboración de los estados financieros
                    </p>
                    <br>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="hojaTrabajo" role="button" style="background-color: #43595e!important;">Empezar</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card text-dark bg-light text-center" style="max-width: 18rem;">
                <div class="card-header text-white bg-dark" style="background-color: #087287!important;">
                    <h5 class="card-title">Contabilidad de costos</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Tiene como propósito controlar e informar de los costos para el uso interno de los directivos
                    </p>
                    <br>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="ContabilidadCostos" style="background-color: #43595e!important;" role="button">Empezar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>

<style>
    body {
        background-color: rgb(255, 255, 255); /* Cambia el color de fondo de toda la página */
    }
</style>

{%endblock %}
