{% extends "bases/base.html" %}

{% block titulo %} Editar ajuste {%endblock %}

{% block contenido %}
<div class="row align-items-center justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                Editar informacion del tipo de transaccion
            </div>
            <div class="card-body">
                <h4 class="card-title">Datos del tipo de transaccion</h4>
                {% load crispy_forms_tags %}
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ formulario.media.js }}
                        {{ formulario|crispy }}
                    </div>

                    <input name="" class="btn btn-success" type="submit" value="Guardar">

                    <a name="" class="btn btn-primary" href="{% url 'ajustes' %}" role="button">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock %}